.posts-section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.posts-section h2 {
  font-size: 2em;
}

.post-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.post-card h3 {
  margin-top: 0;
}

.post-card {
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: 200px;
  display: block;
  margin: auto auto;
}